<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>memberName</key>
		<string>张1</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张2</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张3</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张4</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张5</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三6</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三7</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三8</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三9</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三10</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三11</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三12</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
	<dict>
		<key>memberName</key>
		<string>张三</string>
		<key>memberAvatar</key>
		<string>成员删除键</string>
	</dict>
</array>
</plist>
