<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>欢乐逗比501</string>
		<key>groupId</key>
		<string>200</string>
		<key>groupMessage</key>
		<string>请同学们搞好实验室值日卫生，注意实验室用电防火安全</string>
		<key>time</key>
		<string>23:59</string>
		<key>groupAvatarId</key>
		<string>0</string>
		<key>numberOfMember</key>
		<string>10</string>
		<key>managerId</key>
		<string>7</string>
	</dict>
	<dict>
		<key>groupName</key>
		<string>硕士3班</string>
		<key>groupId</key>
		<string>201</string>
		<key>groupMessage</key>
		<string>测试测试</string>
		<key>time</key>
		<string>12月24日</string>
		<key>groupAvatarId</key>
		<string>1</string>
		<key>numberOfMember</key>
		<string>12</string>
		<key>managerId</key>
		<string>8</string>
	</dict>
</array>
</plist>
